@using Simple_E_Commerce.Data.Models

@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome To Simple E-commerce</h1>

    <div class="row">
       
        @foreach(var item in Model)
        {
            <partial name="_ProductBox" model="@item"/>
        }

    </div>
       
</div>
